#header {
  display: flex;
  padding: 10px 0 15px 0;
  background: var(--black);

  .container {
    display: flex;
    justify-content: space-between;

    .menu ul {
      display: flex;
      list-style: none;
      margin-bottom: 0;
      a {
        padding-right: 30px;
      }
    }
    nav {
      display: flex;
      align-self: center;
      a {
        color: var(--white);
      }
    }
  }
}
